<!DOCTYPE html>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Scraped Times</h1>

    <p class="lead"></p>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href=""><span class="sr-only">(current)</span></a>
      <a class="btn btn-primary navbar-btn id=scrape" href="/">Scrape</a>
      <a class="nav-item nav-link" href="/views/saves">Saved</a>



    </div>
  </div>
</nav>

<div class="container p-3 containerr">
  <div class="row">
    <div class="col-md-12">
      {{#each result}}
          <div class="article my-3">
            <h5>{{title}}</h5>
            <p>{{summary}}</p>
              <a href={{link}} target="_blank">Read More</a>
              <form action="/save/{{this.id}}" method="POST" id="save-article" class="d-inline">
                  <input type="hidden" name="id" value={{_id}}>
                  <button class="btn btn-link ml-3" id="needsID" type="submit">Save Article</button>
              </form>
          </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="../public/app.js"></script>
{{!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script> --}}

